*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    background-color: #3D3D3D;
    z-index: 10;
}

    #position{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logoImg{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    #buttonHome{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    #home{
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #home a{
        text-decoration: none;
        color: #ffffff;
        font-family: "Poppins", serif;
        font-weight: 100;
        font-style: normal;
        padding: 7px 13px 7px 13px;
        background-color: #ffffff00;
        border: 1px solid #ffffff00;
        border-radius: 10px;
        transition: all 1s;
    }
    #home a:hover{
        background-color: #ffffff;
        border: 1px solid #ffffff00;
        color: #000000bb;
        box-shadow: 5px 2px 10px #ffffff93;
    }

main{
    width: 100%;
    height: 94%;
    background-image: url("./img/bg.png");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blockStyle{
    display: flex;
    background-color: #4d4038;
    width: 30%;
    height: 94%;
    float: left;
    position: absolute;
    left: 2%;
    animation: 1s blockStyle forwards; 
}

@keyframes blockStyle{
    from{
        opacity: 0;
        height: 0%;
    }
    to{
        opacity: 1;
        height: 94%;
    }
}
    /* desktop */
@media screen and (min-width: 1025px){
    #container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #elements {
            width: 90%;
            height: 90%;
            display: flex;
        }

            #formulario{
                width: 50%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 40px;
            }

                #sociais{
                    width: 80%;
                    height: 13%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 1;
                }

                    #redes{
                        width: 85%;
                        height: 100%;
                        background: #c1c1c1;
                        border-radius: 38px;
                        box-shadow: 5px 5px 10px #ffffff50;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        animation: redes .5s;
                    }

                    @keyframes redes{
                        from{
                            opacity: 0;
                            transform: translateX(-100px);
                        }
                        to{
                            opacity: 1;
                            transform: translateX(0);
                        }
                    }

                    #whatsapp{
                        height: 90%;
                    }

                    #instagram{
                        height: 90%;
                    }

                    #email{
                        padding-top: 5px;
                        height: 90%;
                    }

                #form{
                    width: 80%;
                    height: 80%;
                    background: #c1c1c1;
                    border-radius: 38px;
                    box-shadow: 10px 15px 20px #ffffff50;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    animation: form .5s forwards;
                    
                }

                @keyframes form{
                    from{
                        opacity: 0;
                        transform: translateX(-100px);
                    }
                    to{
                        opacity: 1;
                        transform: translateX(0);
                    }
                }

                    form{
                        width: 80%;
                        height: 90%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                    label{
                        font-family: "Poppins", serif;
                        font-weight: 500;
                        font-style: normal;
                        color: #ffffff;
                        font-size: 20px;
                    }

                    #buttonForm{
                        width: 30%;
                        font-family: "Poppins", serif;
                        font-weight: 500;
                        font-style: normal;
                        color: #ffffff;
                        background-color: #343134;
                    }

            #text{
                width: 50%;
                height: 100%;
            }

            #positionText{
                width: 100%;
                height: auto;
                padding-top: 6%;
            }

            #bloco{
                width: 90%;
                height: 100%;
                background: #c1c1c1;
                border-radius: 38px;
                box-shadow: 10px 15px 20px #ffffff50;
                display: flex;
                flex-direction: column;
                padding-top: 3%;
                margin: auto;
                opacity: 0;
                animation: texto 1s forwards;
                animation-delay: .7s;
            }

            @keyframes texto{
                from{
                    opacity: 0;
                    transform: translateY(-100px);
                }
                to{
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            #titulo{
                height: 20%;
                color: #343134;
                font-family: "bebas neue", sans-serif;
                text-align: center;
            }

            #paragrafo{
                width: 100%;
                height: 70%;
                color: #fff;
                font-family: "Poppins", serif;
                font-weight: 400;
                font-style: normal;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #paragrafo p{
                width: 70%;
                text-align: center;
            }

            #assinatura{
                width: 100%;
                height: 5vh;
                position: relative;
            }

            #assinatura p{
                position: absolute;
                right: 5%;
            }

}
    /* tablets */
@media screen and (max-width: 1024px){
    #blockStyle{
        display: none;
    }
    #container{
        width: 100%;
        height: 100%;
    }

        #elements {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 5%;
            padding-bottom: 5%;
        }

            #formulario{
                width: 100%;
                height: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 40px;
            }

                #sociais{
                    width: 80%;
                    height: 13%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    #redes{
                        width: 85%;
                        height: 100%;
                        background: #c1c1c1;
                        border-radius: 38px;
                        box-shadow: 10px 15px 10px #ffffff50;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        animation: redes .5s;
                    }

                    @keyframes redes{
                        from{
                            opacity: 0;
                            transform: translateX(-100px);
                        }
                        to{
                            opacity: 1;
                            transform: translateX(0);
                        }
                    }

                    #whatsapp{
                        height: 90%;
                    }

                    #instagram{
                        height: 90%;
                    }

                    #email{
                        padding-top: 5px;
                        height: 90%;
                    }

                #form{
                    width: 80%;
                    height: 100%;
                    background: #c1c1c1;
                    border-radius: 38px;
                    box-shadow: 10px 15px 20px #ffffff50;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    animation: form .5s forwards;
                    
                }

                @keyframes form{
                    from{
                        opacity: 0;
                        transform: translateX(-100px);
                    }
                    to{
                        opacity: 1;
                        transform: translateX(0);
                    }
                }

                    form{
                        width: 80%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                    label{
                        font-family: "Poppins", serif;
                        font-weight: 500;
                        font-style: normal;
                        color: #ffffff;
                        font-size: 20px;
                    }

                    #buttonForm{
                        width: 30%;
                        font-family: "Poppins", serif;
                        font-weight: 500;
                        font-style: normal;
                        color: #ffffff;
                        background-color: #343134;
                    }

            #text{
                width: 100%;
                height: 40%;
            }

            #positionText{
                width: 100%;
                height: 100%;
                padding-top: 6%;
            }

            #bloco{
                width: 90%;
                height: 100%;
                background: #c1c1c1;
                border-radius: 38px;
                box-shadow: 10px 15px 20px #ffffff50;
                display: flex;
                flex-direction: column;
                padding-top: 3%;
                margin: auto;
                opacity: 0;
                animation: texto 1s forwards;
                animation-delay: .7s;
            }

            @keyframes texto{
                from{
                    opacity: 0;
                    transform: translateY(-100px);
                }
                to{
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            #titulo{
                color: #343134;
                font-family: "bebas neue", sans-serif;
                text-align: center;
            }

            #paragrafo{
                width: 100%;
                color: #fff;
                font-family: "Poppins", serif;
                font-weight: 400;
                font-style: normal;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #paragrafo p{
                width: 70%;
                text-align: center;
            }

            #assinatura{
                width: 100%;
                height: 100%;
                position: relative;
            }

            #assinatura p{
                position: absolute;
                right: 5%;
            }
}
    /* mobile */
@media screen and (max-width: 480px){
    body{
        min-width: 100%;
        height: auto;
    }

    header{
        padding-top: 2%;
        padding-bottom: 2%;
    }

    #blockStyle{
        display: none;
    }

    #position{
        width: 80%;
    }
    #container{
        width: 100%;
        height: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

        #elements {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
        }

            #formulario{
                width: 90%;
                height: 100%;
                background: #c1c1c1;
                border-radius: 38px;
                box-shadow: 10px 15px 20px #ffffff50;
                padding-top: 2%;
                padding-bottom: 5%;
                gap: 0px;
            }

                #sociais{
                    width: 80%;
                    height: 13%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    #redes{
                        width: 85%;
                        height: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        background-color: transparent;
                        box-shadow: none;
                    }

                    #whatsapp{
                        height: 90%;
                    }

                    #instagram{
                        height: 90%;
                    }

                    #email{
                        padding-top: 5px;
                        height: 90%;
                    }

                #form{
                    width: 80%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    box-shadow: none;
                }

                    form{
                        width: 80%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                    label{
                        font-family: "Poppins", serif;
                        font-weight: 500;
                        font-style: normal;
                        color: #ffffff;
                        font-size: 20px;
                    }

                    #buttonForm{
                        width: 50%;
                        font-family: "Poppins", serif;
                        font-weight: 500;
                        font-style: normal;
                        color: #ffffff;
                        background-color: #343134;
                    }

            #text{
                width: 100%;
                height: 100%;
            }

            #positionText{
                width: 100%;
                height: 100%;
            }

            #bloco{
                width: 90%;
                height: 100%;
                background: #c1c1c1;
                border-radius: 38px;
                box-shadow: 10px 15px 20px #ffffff50;
                display: flex;
                flex-direction: column;
                margin: auto;
                padding-bottom: 10%;
                opacity: 0;
                animation: texto 1s forwards;
                animation-delay: .7s;
            }

            @keyframes texto{
                from{
                    opacity: 0;
                    transform: translateY(-100px);
                }
                to{
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            #titulo{
                height: 20%;
                color: #343134;
                font-family: "bebas neue", sans-serif;
                text-align: center;
            }

            #paragrafo{
                width: 100%;
                height: 70%;
                color: #fff;
                font-family: "Poppins", serif;
                font-weight: 400;
                font-style: normal;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #paragrafo p{
                width: 70%;
                text-align: center;
            }

            #assinatura{
                width: 100%;
                height: 10%;
                position: relative;
            }

            #assinatura p{
                position: absolute;
                right: 5%;
            }    
}