*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    font-family: Arial,;
}

header{
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3D3D3D;
    z-index: 10;
}

    #position{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logoImg{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    #buttonHome{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    #home{
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #home a{
        text-decoration: none;
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        padding: 7px 13px 7px 13px;
        background-color: #ffffff00;
        border: 1px solid #ffffff00;
        border-radius: 10px;
        transition: all 1s;
    }
    #home a:hover{
        background-color: #ffffff;
        border: 1px solid #ffffff00;
        color: #000000bb;
        box-shadow: 5px 2px 10px #ffffff93;
    }

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/imgProjetosIsaac/cozinha\ gray.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
    .block{
        width: 40%;
        min-height: 80vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    @media screen and (max-width: 1000px ){
        .block{
            width: 80%;
        }
    }
        .social{
            width: 100%;
            height: 10vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
            .showMidia{
                animation: show_midia 1s forwards;
            }
            @keyframes show_midia {
                from{
                    opacity: 0;
                }
                to{
                    opacity: 1;
                }
            }

            #whatsapp{
                width: 9%;
                height: 10vh;
                padding-top: 5px;
                animation-delay: .5s;
                opacity: 0;   
            }

            
            #instagram{
                width: 9%;
                height: 10vh;
                padding-top: 5px;
                animation-delay: 1s;
                opacity: 0;   
            }
            #email{
                width: 9%;
                height: 10vh;
                padding-top: 5px;
                animation-delay: 1.5s;
                opacity: 0;                
            }
        .form{
            min-width: 100%;
            height: 65vh;
            margin-top: 5vh;
            border-radius: 15px;
            box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.863);
            background-color: rgba(128, 128, 128, 0.459);
            animation-delay: 2s;
            opacity: 0;
        }
            form{
                width: 100%;
                height: 65vh;
                display: grid;
                padding-top: 10px;
            }
                .nomeSobrenome{
                    display: flex;
                }
                    .nome{
                        width: 50%;
                    }
                    .nome label{
                        color:#000;
                        padding-left: 25px;
                        font-family: "Roboto", sans-serif;
                        font-optical-sizing: auto;
                        font-weight: 300;
                        font-style: normal;
                        font-variation-settings:
                            "wdth" 100;
                    }
                    .nome input{
                        width: 80%;
                        padding-left: 10px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        background-color: transparent;
                        border-radius: 5px;
                        border:1px solid black;
                        color:#ffffffd3;
                    }
                    .nome input:focus{
                        background-color: #8080807e;
                    }

                    .sobrenome{
                        width: 50%;
                    }
                    .sobrenome label{
                        color:#000;
                        padding-left: 25px;
                        font-family: "Roboto", sans-serif;
                        font-optical-sizing: auto;
                        font-weight: 300;
                        font-style: normal;
                        font-variation-settings:
                            "wdth" 100;
                    }
                    .sobrenome input{
                        width: 80%;
                        padding-left: 10px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        background-color: transparent;
                        border-radius: 5px;
                        border: 1px solid black;
                        color:#ffffffd3;
                    }
                    .sobrenome input:focus{
                        background-color: #8080807e;
                    }

                .email{
                    width: 100%;
                }
                .email label{
                    color:#000;
                    padding-left: 25px;
                    font-family: "Roboto", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-style: normal;
                    font-variation-settings:
                        "wdth" 100;
                }
                .email input{
                    width: 90%;
                    padding-left: 10px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    background-color: transparent;
                    border-radius: 5px;
                    border: 1px solid black;
                    color:#ffffffd3;
                }
                .email input:focus{
                    background-color: #8080807e;
                }

                .mensagem{
                    min-width: 100%;
                    padding-left: 2rem;
                }
                .mensagem label{
                    color:#000;
                    font-family: "Roboto", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-style: normal;
                    font-variation-settings:
                        "wdth" 100;
                }
                .mensagem textarea{
                    min-width: 95%;
                    padding-left: 10px;
                    padding-top: 5px;
                    background-color: transparent;
                    border-radius: 5px;
                    border: 1px solid black;
                    color:#ffffffd3;
                }
                .mensagem textarea:focus{
                    background-color: #8080807e;
                }